<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>

    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <form action="/adminlogin" method = "POST" style="background-color: aqua;">
        <p style="margin:20px; font-size : 20px;">ADMIN LOGIN</p>
        <label for="password">Enter the admin login passoword : </label>
        <input type="text" name="password" placeholder="Password" style="width: 250px;"/>
        <button type="submit">LOGIN</button>
    </form>
</body>
</html>