<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banking System</title>

    <link rel="stylesheet" href="static/styles.css">

    <style>
        body {
            background-image: linear-gradient(to bottom, #ffa500, #d06b2d, #904032, #4a2125, #000000);
        }
    </style>


</head>
<body>
    <div class="" id="card">
        <img src="/static/security-svgrepo-com.svg" alt="" style="width: 50%; margin: 20px;">
        <p>Welcome Back</p>
        <form action="/" method = "POST">
            <input type = "integer" name = "accno" placeholder="Account Number" required/>
            <input type = "text" name = "password" placeholder="Password" required/>
            <button type="submit" class="btn btn-primary">LOGIN</button>
            <p class="verifyLogin">{{valid}}</p>
        </form>
        <form action="/adminlogin">
            <button type="submit" style="background-color: red;">ADMIN LOGIN</button>
        </form>
    </div>
</body>
</html>

